@model Book_Store.Models.Category;

<div class="container col-md-10 text-center mt-3">
    <table class="table table-light">
        <tr>
            <th colspan="2" style="font-family:Apple Chancery, cursive; color:firebrick; font-size:50px">Category Details</th>
        </tr>
        
        <tr>
            <th>Name</th>
            <td>
                @foreach (var b in Model.Books)
               {
                   <a asp-controller="Book" asp-action="Details" asp-route-id="@b.CategoryId">
                        @b.Category.Description
                    </a>
               }
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
                <img src="@Model.Image" width="150" height="150"/>
            </td>
        </tr>  
        <tr>
            <th>Descripton</th>
            <td>
                @Model.Name
            </td>
        </tr> 
    </table>
</div>