@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darksalmon; ">Welcome to FPT Book Store</h1>
    <br />
    <img src="https://www.gourmandplace.com/wp-content/uploads/2016/06/tienda-de-libros_23-2147516031.jpg" width="1000px" height="500px">
</div>